@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.header { 
    background-color: white;
    border-radius: 12px;
    min-height: 50px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pages-content-div {
    margin-top: 15px;
    width: 100%;
}
.navigation-logo {
    width: 99%;
}
@media(min-width: 992px) {
    .add-cohort-modal .modal-dialog, 
    .edit-agent-details-modal .modal-dialog,
    .trash-agent-modal .modal-dialog {
        min-width: 60% !important;
        margin: 30px 20% !important;
    }
    .agent-personal-details-container {
        width: 60% !important;
        margin-left: 0px !important;
    }
    .agent-all-ranking-stats-content-row > div:nth-child(1), 
    .agent-all-ranking-stats-content-row > div:nth-child(4) {
        padding-right: 6px !important;
    }
    .agent-all-ranking-stats-content-row > div:nth-child(2),
    .agent-all-ranking-stats-content-row > div:nth-child(5) {
        padding: 0px 6px !important;
    }
    .agent-all-ranking-stats-content-row > div:nth-child(3),
    .agent-all-ranking-stats-content-row > div:nth-child(6) {
        padding-left: 6px !important;
    }
    .agent-review-col {
        padding-left: 6px !important;
    }
}
@media(min-width: 1025px) {
    .sticky-nav {
        position: fixed !important;
        z-index: 1 !important;
        top: 0 !important;
        left: 0 !important;
        overflow: hidden !important;
        height: 100% !important;
        display: block !important;
    }
    .dashboard-body {
        margin-left: 16.6666667% !important;
    }
}
.dashboard-body {
    background-color: #F3F2F7;
    padding: 20px 20px 50px 20px;
    position: relative;
    min-height: 100vh;
}
.side-navigation-col {
    padding: 0px !important;
}
.navigation-links-div {
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
}
@media(max-width: 991px) {
    .stat-section-div {
        margin-top: 20px !important;
    }
    .stat-section-each-col {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    .agent-stats-content-div {
        margin-top: 40px !important;
    }
    .agent-review-div {
        margin-top: 20px !important;
    }
    .agent-review-barchart-div canvas {
        min-width: 100% !important;
        min-height: 190px !important;
    }
    .trash-pickup-agent-info-modal-middle-div {
        grid-template-columns: 1fr !important;
    }
    .trash-pickup-agent-info-text-div {
        padding: 0px 0px 0px 15px;
    }
    .total-active-agents-div {
        margin-top: 50px !important;
    }
}
.time-range-dropdown-button {
    color: #212121 !important;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF) !important;
    border: 0.5px solid #00000073 !important;
    box-shadow: 0px 4px 4px 0px #0000000A !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0px !important;
    padding: 5px 10px !important;
    max-width: 100%;
}
.time-range-dropdown-button {
    color: #212121 !important;
}
.time-range-dropdown {
    float: right;
}
.agent-stat-button-icon {
    height: 25px;
    width: 25px;
    margin: 7.5px;
}
.agent-stat-button-icon-div {
    width: 40px;
    height: 40px;
    background: rgba(45, 156, 219, 0.2);
    border-radius: 50%;
}
.status-stat-div {
    padding-left: 10px;
}
.total-paragraph {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
}
.stat-section-div {
    background: rgba(254, 254, 253, 1);
    border-radius: 15px;
    padding: 10px 10px 20px 10px;
}
.agent-stat-number-paragraph {
    font-size: 32px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
    margin-top: 30px;
    margin-bottom: 0px !important;
}
.agent-stat-percentages {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: rgba(0, 176, 116, 1);
    margin-top: 25px;
    margin-bottom: 0px !important;
    white-space: nowrap;
}
.agent-stat-percentages-decrease {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: #FF0000;
    margin-top: 25px;
    margin-bottom: 0px !important;
    white-space: nowrap;
}
.agent-stats-content-div {
    margin-top: 50px;
}
.add-cohort-button {
    background: rgba(76, 172, 62, 1);
    color: white;
    border-radius: 10px;
    padding: 7px 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}
.add-a-new-cohort-paragraph,
.edit-personal-details-paragraph,
.modal-heading-para {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 0px !important;
}
.modal-content {
    border: none !important;
}
.modal-body {
    padding: 10px !important;
}
.dropdown-calendar-icon {
    width: 35px;
    height: 25px;
    background: rgba(45, 156, 219, 0.15);
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}
.dropdown-toggle::after {
    margin-left: 10px !important;
    margin-bottom: -2px !important;
}
.agent-review-div, 
.agents-cohort-div {
    border-radius: 15px;
    background-color: white;
    padding: 10px;
}
.agents-cohort-div {
    margin-top: 20px;
}
.agents-cohort-buttons-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    gap: 5px;
}
.agent-cohort-view-details {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(76, 172, 62, 1);
    padding: 0px !important;
    background-color: white;
    border: none;
}
.placeholderuserimage {
    width: 50px;
    height: 50px;
}
.cohort-user-name-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 0px !important;
}
.cohort-user-other-paragraph {
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 0em;
}
.most-performance-agents-div, 
.total-book-now-div {
    margin-top: 20px;
    background: rgba(254, 254, 253, 1);
    border-radius: 15px;
    padding: 11px;
    min-height: 200px;
}
.agent-ranking-stat-div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
}
.all-rankings-button {
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}
.most-performance-agents-div button {
    float: right;
    background: rgba(76, 172, 62, 1);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
}
.most-performance-agents-div p {
    float: left;
}
.close-icon {
    float: right;
    height: 11px;
    width: 11px;
}
.modal-content-div {
    padding-top: 30px;
    padding-bottom: 15px;
}
.add-cohort-form,
.agent-edit-personal-details-form {
    width: 90%;
    margin: 40px 5% 0px 5%;
}
.add-cohort-text-input {
    color: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(0deg, #FEFEFD, #FEFEFD);
    border: 1px solid rgba(134, 134, 134, 0.5);
    padding: 5px 5px 5px 20px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    width: 47%;
}
@media(min-width: 768px) {
    .add-cohort-text-input-div {
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width: 767px) {
    .add-cohort-text-input {
        width: 100%;
        margin-top: 20px;
    }
}
.add-cohort-form-button,
.agent-edit-personal-details-form button,
.add-id-cert-modal-form-button {
    background: rgba(76, 172, 62, 1);
    border-radius: 7px;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    border: none;
    margin-top: 20px;
    padding: 5px 0px;
}
.navigation-links-div {
    max-height: 90vh;
    overflow-y: auto !important;
    padding-bottom: 150px;
}
.thumbsup-icon-image, 
.delete-close-icon-image {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}
.cohort-created-paragraph,
.agent-will-be-deleted-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    margin-top: 20px;
}
.cohort-created-paragraph {
    margin-bottom: 50px;
}
.cohort-created-div,
.cohort-deleting-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.agent-listing-div {
    margin-top: 30px;
}
.agent-listing-paragraph {
    font-size: 19px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
}
.agent-listing-see-all-button {
    justify-self: end;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    background: rgba(76, 172, 62, 1);
    border-radius: 10px;
    color: rgba(254, 254, 253, 1);
    border: none;
    width: 130px;
    height: 40px;
    padding: 0px;
}
.table-responsive {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}
.agent-listing-table thead th {
    background-color: rgba(0, 176, 116, 0.1) !important;
    color: rgba(0, 176, 116, 1);
}
.agent-listing-table th {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    white-space: nowrap;
}
.agent-listing-table td {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0px;
    white-space: nowrap;
}
.agent-listing-table-div {
    background-color: white;
    border-radius: 10px;
}
.agent-listing-upper-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.agent-listing-table,
.agent-listing-table thead,
.agent-listing-table tr,
.agent-listing-table tbody,
.agent-listing-table th,
.agent-listing-table td {
    border: none !important;
    border-collapse: collapse !important;
}
.all-reviews-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    background: rgba(76, 172, 62, 1);
    border-radius: 10px;
    border: none;
    padding: 10px 25px;
    width: 100%;
    margin-top: 20px;
}
.agent-listing-row-status-div {
    background: rgba(0, 176, 116, 0.15);
}
.agent-listing-row-status-div,
.trash-pickup-table-status-div {
    border-radius: 15px;
    display: inline-block;
    padding: 3px 20px;
}
.agent-listing-row-category-div {
    background: rgba(45, 156, 219, 0.3);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    font-weight: 400 !important;
}
.a2 {
    background: rgba(217, 217, 217, 1) !important;
}
.agent-listing-delete-icon {
    height: 16px;
    width: 14px;
}
.agent-listing-three-dots-icon {
    width: 16px;
    height: 4px;
    margin-left: 10px;
}
.agent-listing-action-button {
    background: none;
    border: none;
    padding: 0px !important;
}
.delete-agent-paragraph {
    
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    margin-top: 30px;
    margin-bottom: 0px !important;
}
.modal-prompt-div {
    float: right;
    padding: 0px 10px 30px 0px;
}
.modal-prompt-div button {
    background: none;
    border: none;
}
.modal-prompt-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.agent-confirm-delete-button,
.modal-cancel-button {
    color: rgba(204, 51, 0, 1);
}   
.agent-cancel-delete-button,
.modal-done-button {
    color: rgba(76, 172, 62, 1);
}
.each-navigation-grid-div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}
.navigation-icon {
    width: 20px;
    height: 20px;
}
.each-navigation-grid-div span {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    color: rgba(70, 66, 85, 1);
}
.navigation-links-div > div:not(:first-child),
.dropdown-buttons-div > div:not(:first-child) {
    margin-top: 20px;
}
.add-cohort-member-div {
    border: 1px solid rgba(134, 134, 134, 0.5);
    border-radius: 7px;
    margin-top: 30px;
    min-height: 60px;
}
.members-paragraph,
.edit-agent-name-div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    color: rgba(58, 58, 58, 0.65);
    margin: -20px 0px 0px 15px;
    background-color: white;
    max-width: 105px;
    text-align: center;
}
.members-paragraph {
    padding: 5px;
}
.edit-agent-name-div p {
    padding: 5px 10px;
    white-space: nowrap;
}
.members-list-div {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 20px;
    padding: 5px 15px 15px 15px;
}
@media(max-width: 510px) {
    .members-list-div {
        grid-template-columns: 1fr;
    }
    .agent-edit-input-grid-div {
        grid-template-columns: 1fr !important;
        gap: 10px !important;
    }
    .edit-agent-name-div {
        padding-bottom: 15px !important;
    }
}
.keyboard-arrow-down-icon {
    width: 25px;
    height: 25px;
}
.members-list-each-div {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 15px;
    padding: 10px 15px;
}
.members-list-each-div span {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.65);
}
.member-close-icon {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 4px;
}
.add-cohort-checkbox-div {
    border: 1px solid rgba(134, 134, 134, 0.5);
    border-radius: 7px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.65);
    padding: 10px 10px 15px 10px;
}
.add-cohort-user-image {
    height: 35px;
    width: 35px;
}
.add-cohort-each-user-div {
    display: grid;
    grid-template-columns: auto 1fr min-content;
}
.add-cohort-each-user-div input {
    margin-top: 11px;
    border: 2px solid rgb(0, 0, 0) !important;
    border-radius: 2px !important;
}
.add-cohort-each-user-div span {
    margin-left: 15px;
}
.add-cohort-each-user-div {
    margin-top: 20px;
}
.total-cohort-paragraph {
    float: right;
    background-color: white;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
}
.cohort-listing-upper-div,
.cohort-demographic-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
.listing-button-tab-div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)
}
.listing-button-tab-div button {
    border: none;
    padding: 5px 30px;
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}
.listing-button-tab-div .active {
    border-bottom: 2px solid rgba(0, 176, 116, 1);
}
.cohort-listing-body-div,
.cohort-demographic-body-div {
    padding-top: 20px;
}
.listing-stats-paragraphs-div p {
    text-align: right;  
    margin-bottom: 5px !important;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0px;
}
.listing-body-upper-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.listing-filter-button {
    background: rgba(76, 172, 62, 1);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    border: none;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 10px;
    align-items: center;
}
.listing-actions-div {
    margin-top: 30px;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 15px;
}
.agent-overview-status-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
}
@media(max-width: 567px) {
    .agent-profile-listing-button-tab-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .listing-body-upper-div {
        grid-template-columns: 1fr !important;
    }
    .listing-stats-paragraphs-div p {
        text-align: left !important;
    }
    .listing-stats-paragraphs-div {
        margin-top: 20px;
    }
    .agent-status-radio-group-div {
        grid-template-columns: 1fr !important;
    }
}
.agent-edit-input-grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 50px;
}
.edit-agent-name-div {
    border: 1px solid rgba(134, 134, 134, 0.5);
    border-radius: 7px;
    margin-top: 30px;
    padding-bottom: 5px;
}
.training-modal-input-div {
    border: 1px solid rgba(134, 134, 134, 0.5);
    border-radius: 7px;
    padding: 7px 15px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 30px;
    align-items: center;
}
.training-modal-radio-div {
    margin-top: 20px;
}
.training-modal-input-div input,
.edit-agent-name-div input {
    width: 100%;
    border: none;
    outline: none !important;
}
.edit-agent-name-div input {
    height: 35px;
    margin-top: -15px;
    padding: 0px 0px 0px 30px;
}
.edit-agent-name-div input:focus,
.listing-search-input:focus,
.training-modal-input-div input:focus {
    outline: none !important;
}
.agent-edit-personal-details-form button {
    margin: 35px 0px 15px 0px;
}
.agent-details-upper-div {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 30px;
}
.agent-user-image {
    height: 80px;
    width: 80px;
}
.agent-main-details-div .agent-name,
.agent-main-details-div .agent-cohort { 
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    margin-bottom: 0px;
}
.agent-main-details-div .rating-paragraph {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    margin-bottom: 0px;
}
.agent-personal-details-container p {
    white-space: nowrap;
    margin-bottom: 0px !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
}
.agent-personal-details-div,
.agent-status-div {
    border-top: 0.5px solid rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    padding: 10px;
}
.agent-status-radio-group-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.agent-details-type-para {
    color: rgba(0, 0, 0, 0.4);
}
.agent-status-radio-group-div input {
    margin-right: 10px;
}
.agent-personal-details-div div {
    margin-top: 15px;
}
.agent-personal-details-container {
    padding: 0px !important;
    margin-top: -30px !important;
}
.agent-personal-details-paragraph {
    margin-bottom: 0px !important;
}
.agent-details-phone-icon {
    width: 11.5px;
    height: 12.25px;
}
.agent-details-chat-icon {
    width: 13px;
    height: 13px;
}
.agent-details-contact-icons-grid-div {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 10px;
    margin-top: 10px;
}
.agent-details-contact-icons-grid-div div {
    background: rgba(76, 172, 62, 1);
    border-radius: 50%;
    padding: 0px 7px 2px 7px;
}
.agent-rating-star-icon {
    width: 17px;
    height: 17px;
    margin: -5px 3px 0px 0px;
}
.agent-listing-rating-star-icon {
    width: 13px;
    height: 13px;
    margin: -5px 3px 0px 0px;
}
.rating-paragraph {
    margin-right: 10px;
}
.chevron-right-icon {
    width: 13.33px;
    height: 13px;
    margin: 0px 10px;
}
.bread-crumb-div > span:nth-child(1) {
    color: rgba(0, 0, 0, 0.4);
}
.agent-time-range-dropdown-div {
    display: flex;
    justify-content: flex-end;
}
.agent-bookings-stats-content-div,
.agent-other-stats-content-div,
.agent-all-ranking-stats-content-div {
    margin-top: 20px;
}
.trash-pickup-table-view-button {
    background: rgba(76, 172, 62, 1);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: white;
    padding: 4px 25px;
    border: none;
}
.trash-pickup-table-timedate-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}
.trash-pickup-name-paragraph,
.active-agent-name-paragraph {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 5px;
}
.trash-pickup-agent-headshot-image,
.active-agent-headshot-image {
    height: 50px;
    width: 50px;
}
.trash-pickup-agent-info-grid-div,
.active-agent-info-grid-div {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 15px;
}
.trash-pickup-table-trash-image {
    width: 150px;
    height: 84px;
}
.trash-pickup-table-status-div {
    background: rgba(45, 156, 219, 0.2);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    white-space: nowrap;
}
.upcoming {
    color: rgba(45, 156, 219, 1);
}
.past-booking {
    color: rgba(33, 33, 33, 1);
}
.trash-status-circle {
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
.trash-pickup-agent-info-modal-upper-div,
.active-agent-info-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 10px;
}
.trash-pickup-agent-info-modal-upper-div-inner-left-div,
.active-agent-div-inner-left-div {
    text-align: right;
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: right;
}
.trash-pickup-agent-info-modal-upper-div-inner-left-div p,
.active-agent-div-inner-left-div p {
    margin-bottom: 0px;
    white-space: nowrap;
}
.trash-pickup-modal-agent-id-paragraph,
.active-agent-id-paragraph {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -0.4099999964237213px;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
}
.trash-pickup-modal-booking-type-paragraph,
.active-agent-booking-type-paragraph {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -0.4099999964237213px;
}
.trash-pickup-modal-booking-type-paragraph,
.trash-pickup-modal-type-paragraph,
.trash-pickup-modal-agent-id-paragraph,
.trash-pickup-modal-status-paragraph,
.trash-pickup-agent-info-modal-reassign-button,
.request-id,
.request-id-paragraph,
.trash-pickup-agent-details-type-para,
.agent-all-ranking-stats-each-content-heading-paragraph,
.most-present-ranking-time,
.most-perfomant-agents-grid-div p,
.top-earners-ranking-time,
.listing-search-input,
.training-modal-radio-div span,
.training-modal-radio-div p,
.training-modal-div,
.active-agents-trash-details-property-paragraph,
.active-agents-trash-details-value-paragraph,
.trash-pickup-table-status-div,
.trash-pickup-name-paragraph,
.trash-pickup-table-timedate-paragraph,
.trash-pickup-table-view-button,
.active-agent-name-paragraph,
.active-agent-id-paragraph,
.active-agent-booking-type-paragraph,
.active-agent-type-paragraph,
.active-agent-status-paragraph,
.active-agent-trash-pickup-details-grid-div p,
.set-training-schedule-button,
.active-agent-name,
.active-agent-badge-id,
.active-agent-status-span,
.active-agent-see-more-button,
.time-range-dropdown-button,
.agent-stat-number-paragraph,
.agent-stat-percentages,
.agent-stat-percentages-decrease,
.find-assign-agent-pagination-span,
.find-assign-each-agent-div,
.find-assign-each-agent-view-profile-button,
.header,
.table-pagination-div,
.assign-button,
.reassign-agents-button,
.add-cohort-button,
.add-a-new-cohort-paragraph,
.edit-personal-details-paragraph,
.modal-heading-para,
.agent-cohort-view-details,
.cohort-user-name-paragraph, 
.cohort-user-other-paragraph, 
.agent-ranking-stat-div p, 
.all-rankings-button, 
.add-cohort-text-input, 
.add-cohort-form-button,
.agent-edit-personal-details-form button,
.add-id-cert-modal-form-button, 
.cohort-created-paragraph,
.agent-will-be-deleted-paragraph,
.agent-main-details-div .agent-name,
.agent-main-details-div .agent-cohort, 
.agent-main-details-div .rating-paragraph, 
.agent-personal-details-container p,
.agent-overview-status-heading,
.listing-stats-paragraphs-div p,
.total-cohort-paragraph,
.members-list-each-div span,
.members-paragraph,
.edit-agent-name-div p,
.delete-agent-paragraph, .modal-prompt-button,
.all-reviews-button,
.agent-listing-table th, 
.agent-listing-table td,
.agent-listing-paragraph, 
.agent-listing-see-all-button,
.total-active-agents-div p,
.agent-attendance-button, 
.total-active-agents-div p, 
.total-active-agents-div p span,
.total-paragraph  {
    font-family: 'Barlow', sans-serif;
}
.trash-pickup-modal-type-paragraph,
.active-agent-type-paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.4099999964237213px;
}
.trash-pickup-modal-status-paragraph .upcoming {
    color: rgba(45, 156, 219, 1);
}
.manual-request {
    color: rgba(76, 172, 62, 1);
}
.trash-pickup-modal-status-paragraph,
.active-agent-status-paragraph {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.4099999964237213px;
}
.trash-pickup-agent-info-modal-reassign-button {
    background: rgba(76, 172, 62, 1);
    border-radius: 10px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.4099999964237213px;
    border: none;
    color: white;
    float: right;
    margin: 50px 10px 20px 0px;
}
.trash-pickup-agent-info-modal-middle-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 30px;
}
.trash-modal-image {
    height: 400px;
    width: 400px;
}
.request-id {
    color: rgba(76, 172, 62, 1);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.4099999964237213px;
}
.request-id-paragraph {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -0.4099999964237213px;
    margin-bottom: 0px;
}
.trash-pickup-agent-info-text-container p {
    white-space: nowrap;
}
.trash-pickup-agent-details-type-para {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0px;
}
.trash-pickup-agent-details-type-para,
.trash-pickup-agent-details-text-para {
    font-size: 14px;
}
.trash-pickup-agent-info-text-container {
    padding: 0px !important;
    margin-top: 50px;
}
.trash-agent-details-modal-book-icon,
.active-agent-details-book-icon {
    width: 25.67px;
    height: 18.67px;
}
.trash-pickup-info-modal-book-icon-div,
.active-agent-details-book-icon-div {
    background: rgba(45, 156, 219, 0.15);
    border-radius: 10px;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.agent-all-ranking-stats-each-content-div,
.most-performant-agents-bar-div {
    background-color: white;
    border-radius: 15px; 
}
.agent-all-ranking-stats-each-content-div {
    padding: 10px 10px 10px 15px;
    margin-top: 20px;
    min-height: 330px;
}
.agent-all-ranking-stats-each-content-inner-div {
    height: 258px; 
    overflow-y: auto;
    margin-top: 0px;
    overflow-x: hidden !important;
}
.most-performant-agents-bar-div {
    padding: 5px;
    margin-top: 10px;
}
.agent-all-ranking-stats-each-content-heading-paragraph {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
}
.bread-crumb-div {
    margin-bottom: 20px;
}
.most-present-ranking-time,
.most-absent-ranking-time,
.top-earners-ranking-time {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
}
.most-present-ranking-time,
.top-earners-ranking-time {
    color: rgba(13, 119, 185, 1);
}
.most-absent-ranking-time {
    color: rgba(255, 0, 0, 1);
}
.most-present-ranking-name-col,
.most-absent-ranking-name-col {
    padding-right: 0px !important;
}
.most-present-ranking-time-col,
.most-absent-ranking-time-col {
    padding-left: 0px !important;
}
.most-perfomant-agents-placeholderuserimage {
    height: 35px;
    width: 35px;
}
.most-perfomant-agents-grid-div {
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
    gap: 10px;
}
.most-perfomant-agent-bar-div {
    height: 9px;
    margin-top: 10px;
}
.first-bar-div {
    background: rgba(255, 119, 35, 1);
}
.second-bar-div {
    background: rgba(2, 99, 255, 1);
}
.third-bar-div {
    background: rgba(18, 64, 6, 1);
}
.fourth-bar-div {
    background: rgba(142, 48, 255, 1);
}
.fifth-bar-div {
    background: rgba(124, 253, 191, 1);
}
.most-perfomant-agents-grid-div p {
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
}
.top-earner-trophy {
    height: 20px;
    width: 20px;
    margin-top: 10px;
}
.top-earner-grid-div {
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
    gap: 10px;
}
.total-book-now-col,
.most-performance-agents-col,
.cohort-demographic-each-col {
    display: flex;
    flex-direction: column;
}
.agent-all-ranking-stats-each-content-div,
.most-performant-agents-bar-div,
.total-book-now-div,
.cohort-demographic-each-stat-div {
    flex: 1;
}
.listing-search-div {
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 10px;
    background-color: white;
    padding: 0px 20px 0px 10px;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 30px;
    align-items: center;
}
.total-active-agents-search-div {
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 10px;
    background-color: white;
    padding: 0px 10px 0px 5px;
    display: flex;
    justify-content: space-between;
}
.listing-search-icon,
.total-active-agents-search-icon {
    width: 18px;
    height: 18px;
    margin-top: -5px;
}
.listing-search-input,
.total-active-agents-search-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    color: rgba(150, 155, 160, 1);
    border: none;
    outline: none !important;
}
.total-active-agents-search-input {
    width: 90px;
}
.listing-search-icon-button,
.total-active-agents-search-icon-button {
    border: none;
    background-color: transparent;
    padding: 0px !important;
}
.listing-filter-icon {
    height: 18px;
    width: 13px;
}
.listing-filter-button,
.listing-search-div {
    height: 40px;
}
.calendar-month-icon {
    height: 14px;
    width: 12px;
}
.training-modal-radio-div input {
    margin-right: 10px;
}
.training-modal-radio-div span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.65);

}
.training-modal-radio-div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 3px;
}
.training-modal-content-div {
    padding-right: 5%;
    padding-left: 5%;
}
.training-modal-prompt-div {
    padding-bottom: 15px !important;
    margin-top: 20px;
    padding-right: 18px !important;
}
.days-grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}
.active-day-div {
    background: rgba(76, 172, 62, 1);
    color: white; 
}
.inactive-day-div {
    border: 1px solid rgba(0, 0, 0, 1);
    color: black;
}
.active-day-div,
.inactive-day-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 14px;
}
.set-training-schedule-paragraph {
    margin-top: 20px;
}
.map {
    width: 100%;
    height: 90px;
    object-fit: cover;
}
.active-agents-trash-details-upper-grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.active-agents-trash-details-upper-grid-div p {
    margin: 0px;
}
.active-agent-in-charge-div,
.active-agents-trash-details-upper-grid-div {
    margin-top: 30px;
}
.active-agents-trash-details-property-paragraph {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.65);

}
.active-agents-trash-details-value-paragraph {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
}
.active-agents-main-col {
    border-right: 0.65px solid rgba(0, 0, 0, 0.1);
}
.active-agents-side-col {
    border-left: 0.65px solid rgba(0, 0, 0, 0.1);
    padding-right: 6px !important;
}
.active-agent-info-div {
    margin-top: 50px;
}
.total-active-agents-grid-div {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 5px;
}
.active-agent-trash-pickup-details-grid-div {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 25px;
    white-space: nowrap;
    margin-top: 30px;
}
.active-agent-trash-pickup-details-trash-image {
    width: 120px;
    height: 140px;
}
.active-agent-trash-pickup-details-value-div {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.active-agent-trash-pickup-details-value-div p {
    margin: 0px;
}
.active-agent-trash-pickup-details-grid-div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
/* .book-type-bar-chart-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.most-performance-agents-upper-grid-div {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}
.agent-management-time-range-dropdown,
.most-performance-agents-upper-grid-div,
.all-rankings-button {
    max-width: 100%;
}
.most-performance-agents-upper-grid-div button {
    white-space: nowrap;
    max-height: 40px !important;
}
.cohort-listing-table-dropdown-button,
.cohort-listing-table-dropdown {
    height: 0px !important;
    width: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
.cohort-listing-table-dropdown-button::after {
    display: none !important;
}
.navigation-button {
    border: none;
    border-radius: 8px;
    background-color: transparent;
    padding: 5px 10px 5px 5px;
}
.active-navigation,
.navigation-button:hover {
    background: rgba(0, 176, 116, 0.15) !important;
}
.active-navigation .each-navigation-grid-div span,
.navigation-button:hover span {
    color: rgba(76, 172, 62, 1) !important;
}
.agent-other-stats-content-grid-div {
    display: grid;
    grid-template-columns: 300px min-content min-content;
    gap: 40px;
}
.agent-profile-booking-pie-chart {
    min-width: 200px;
    min-height: 300px;
}
.agent-profile-booking-pie-chart text {
    font-size: 10px;
}
.availability-div {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
}
.availability-day-grid-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.availability-day-grid-div div {
    height: 20px;
    width: 20px;
    border-radius: 2px;
}
.agent-training-upper-buttons-grid-div {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    white-space: nowrap;
    gap: 10px;
}
@media(max-width: 530px) {
    .agent-training-upper-buttons-grid-div {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
@media(max-width: 576px) {
    .find-assign-agent-upper-grid-div {
        grid-template-columns: 1fr !important;
        gap: 30px;
    }
    .find-assign-agent-right-div {
        justify-content: flex-start !important;
    }
}
@media (min-width: 476px) and (max-width: 810px) {
    .agent-other-stats-content-grid-div {
        grid-template-columns: auto auto !important;
    }
}
@media(max-width: 475px) {
    .agent-other-stats-content-grid-div {
        grid-template-columns: auto !important;
    }
}
.set-training-schedule-button,
.add-an-agent-button {
    background: rgba(76, 172, 62, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
}
.agent-training-head-row > th:nth-child(4),
.agent-training-body-row > td:nth-child(4) {
    min-width: 120px;
}
.agent-training-listing-table .table-responsive {
    padding-bottom: 35px;
}
.add-id-cert-number-modal-input-div {
    margin-bottom: 15px;
}
.add-id-cert-modal-form-button {
    margin-top: 50px;
}

.availability-day-grid-div p {
    width: 30px;
}
.agent-attendance-modal-form {
    width: 70%;
    margin: 30px auto 0px auto;
}
.add-id-cert-checkbox {
    margin-right: 10px;
    margin-top: 5px;
}
.active-agent-user-image {
    height: 50px;
    width: 50px;
}
.on-the-way-green-circle {
    height: 8px;
    width: 8px;
    margin-left: 3px;
}
.active-agents-grid-div {
    display: grid;
    /* grid-template-columns: 40px auto auto; */
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-top: 20px;
} 
.active-agent-status-span {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    white-space: nowrap;
}
.active-agent-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 0px;
    margin-bottom: 0px;
}
.active-agent-badge-id {
    font-size: 13px; 
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 0px;
}
.active-agent-user-image {
    max-width: 100%; 
    height: auto;
}
.on-the-way-green-circle {
    max-width: 100%; 
    height: auto;
}
.active-agent-name,
.active-agent-user-image {
    margin-top: 5px;
}
.active-agent-see-more-button {
    float: right;
    color: rgba(76, 172, 62, 1);
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    padding: 0px;
    background-color: transparent;
}
.agents-in-charge-grid-div {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 30px;
}
.reassign-agents-button {
    background: rgba(76, 172, 62, 1);
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    height: 40px;
}
.cancel-request-button {
    color: rgba(255, 0, 0, 1);
    border: none;
    background-color: transparent;
    height: 40px;
}
.agents-in-charge-grid-div img {
    margin-right: 5px;
}
.cohort-demographic-each-stat-div {
    background: rgba(254, 254, 253, 1);
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 20px;
}
.demographics-map {
    width: 100%;
    object-fit: cover;
}
.cohort-demographic-pie-chart-div {
    display: flex;
    justify-content: center;
    max-height: 200px !important;
}
tspan {
    font-size: 5px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100 !important;
}
.find-assign-agent-upper-grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.find-assign-agent-upper-grid-div .listing-actions-div {
    margin-top: 0px !important;
}
.direction-arrow-icon {
    height: 11px;
    width: 11px;
}
.direction-arrow-button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 50%;
    border: none;
    margin-left: 15px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-assign-agent-right-div {
    display: flex;
    justify-content: flex-end;
}
.assign-button {
    margin-right: 15px;
    background: rgba(76, 172, 62, 1);
    color: white;
    border-radius: 10px;
    padding: 7px 50px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}
.find-assign-agent-pagination-span {
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
}
.find-assign-agent-pagination-inner-span { 
    color: rgba(0, 0, 0, 0.5);
}
.find-assign-each-agent-div {
    border: 0.5px solid rgba(76, 172, 62, 1);
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
}
.find-assign-each-agent-div p {
    text-align: center;
    margin-bottom: 0px;
}
.find-assign-each-agent-div-name {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
}
.find-assign-each-agent-div-badge-id {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
}
.find-assign-each-agent-div-category {
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
}
.find-assign-each-agent-div-category span {
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
} 
.verified-icon {
    width: 23px;
    height: 22px;
}
.circular-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.circular-border {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: white;
    border: 3px solid rgba(0, 176, 116, 1)
}
.circular-image {
    position: relative;
}
.verification-badge {
    position: absolute;
    bottom: 0;
    right: -7px;
    border-radius: 50%;
    padding: 2px;
    color: white;
    font-size: 17px;
    line-height: 1;
}
.find-assign-each-agent-middle-grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.find-assign-each-agent-view-profile-button {
    color: rgba(76, 172, 62, 1);
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}
.find-assign-each-agent-view-profile-button-person-icon {
    height: 12px;
    width: 12px;
    margin-right: 7px;
}
.find-assign-each-agent-view-profile-button-div {
    display: flex;
    justify-content: center;
    margin: 15px 0px 5px 0px;
}
.find-assign-each-agent-middle-grid-div span {
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.65);
}
.find-assign-each-agent-view-profile-icons {
    height: 14px;
    width: 14px;
    margin-right: 3px;
}
.find-assign-each-agent-middle-right-div {
    border-left: 0.5px solid rgba(0, 0, 0, 1);
    padding-left: 10px;
}
.find-assign-each-agent-middle-left-div {
    border-right: 0.5px solid rgba(0, 0, 0, 1);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.find-assign-each-agent-middle-left-div .navigation-icon {
    margin-top: 5px !important;
}
.find-assign-each-agent-div-name-star-icon {
    height: 15px;
    width: 15px;
    margin: -5px 3px 0px 3px;
}
.find-assign-each-agent-div input[type='checkbox'] {
    float: right;
    margin-right: 20px;
    margin-left: -20px;
}
.progress-outer-div {
    width: 150px !important;
    background: rgba(76, 172, 62, 0.15);
}
.progress-inner-div {
    background: rgba(76, 172, 62, 1);
    width: 70% !important;
}
.progress-inner-div,
.progress-outer-div {
    height: 12px;
    border-radius: 10px;
}
.training-table-status-div {
    color: rgba(0, 176, 116, 1) !important;
    font-weight: 500 !important;
}
.training-modal-incremental-week-grid-div {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}
.training-modal-incremental-week-div {
    border: 1px solid rgba(76, 172, 62, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.training-modal-incremental-week-div button {
    background: rgba(76, 172, 62, 1);
    border-radius: 8px;
    border: none;
    width: 30px;
    color: white;
    font-size: large;
}
.training-modal-incremental-weeks-span {
    text-align: right;
}
.header-bell-icon {
    width: 17px;
    height: 18px;
}
.notification-icon {
    position: relative;
    display: inline-block;
    padding: 0px 10px 7px 10px;
    background: rgba(45, 156, 219, 0.15);
    border-radius: 10px; 
    color: #333; 
    font-size: 20px; 
    cursor: pointer; 
}
.notification-count {
    position: absolute;
    top: -5px; 
    right: -5px; 
    color: white; 
    border-radius: 50%; 
    padding: 0px 4px; 
    font-size: 8px;
    background: #4CAC3E;
    border: 3px solid rgba(254, 254, 253, 1)
}
.header-search-div {
    width: 50%;
}
@media(min-width: 768px) and (max-width: 991px) {
    .header-search-div {
        width: 30% !important;
    } 
}
@media(min-width: 992px) and (max-width: 1024px) {
    .header-search-div {
        width: 40% !important;
    } 
}
.header-user-image {
    height: 30px;
    width: 30px;
    margin-left: 5px;
}
.header-notification-div .notification-icon {
    margin-left: 10px;
}
.header-admin,
.header-greeting-name-span,
.header-greeting {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
}
.header-admin,
.header-greeting-name-span {
    font-weight: 600;
}
.header-greeting {
    font-weight: 400;
}
.header-admin {
    margin-left: 5px;
}
.header-search-div .listing-search-div {
    display: flex !important;
    justify-content: space-between !important;
}
@media(max-width: 767px) {
    .header-search-div, 
    .header-notification-div,
    .header-admin-div {
        display: none !important;
    }
}
@media(max-width: 1024px) {
    .header-menu-hamburger-icon-button {
        display: block !important;
    }
    .navigation-logo {
        display: none !important;
    }
    .each-navigation-grid-div span {
        font-size: 14px;
    }
    .side-nav-div {
        top: 85px;
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: left 0.5s ease-in-out;
        background-color: white;
        z-index: 1000000;
    }
    .side-nav-div.display-side-nav {
        left: 0;
    }
}
.header-menu-hamburger-icon-button {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
}
.header-menu-hamburger-icon {
    height: 35px;
    width: 35px;
}
.table-pagination-div {
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px 10px 0px;
}
.table-pagination-chevron {
    height: 10px;
    width: 7px;
    margin-top: -5px;
}
.table-pagination-button {
    margin-left: 15px;
}
.table-pagination-div span {
    margin-left: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1) !important;
}
.table-pagination-dropdown-arrow {
    width: 10px;
    height: 5px;
    margin-left: 3px;
    margin-top: -3px;
}
.table-pagination-div button {
    background-color: transparent;
    border: none;
    padding: 0;
}
.agent-listing-table-rating-number {
    margin-right: 5px;
}
.gain-arrow-up {
    width: 10px;
    height: 5px;
}

.no-scroll {
	overflow: hidden;
    position: fixed;
} 
tbody tr td {
    padding-top: 20px !important;
}
.agent-listing-table-body .owners-location p {
    margin: 7px 0px 0px 0px;
}
.table-responsive th,
.table-responsive td {
    text-align: center;
} 
.listing-table-placeholder-image {
    height: 30px;
    width: 30px;
}
.name-date {
    text-align: left !important;
}
.header-chat-icon,
.header-gift-icon,
.header-cog-icon {
    width: 20px;
    height: 20px;
}
.header-cog-icon-div {
    background: rgba(217, 217, 217, 1) !important;
}
.header-gift-icon-div {
    background: rgba(94, 108, 147, 0.15) !important;
}
.agent-status-radio-item-div .form-check-input,
.agent-status-radio-item-div .form-check-input:checked {
    border-color: black !important;
}
.agent-status-radio-item-div .form-check-input:checked {
    background-color: white !important;
}
.agent-status-radio-item-div {
    display: grid;
    grid-template-columns: min-content min-content;
}
.agent-status-radio-item-div .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url('./images/blackdot.png') !important;
}
.agent-status-radio-item-div .form-check-input {
    background-size: 55% !important;
    background-position: center !important;
}
.agent-status-radio-item-div .form-check-input[type=radio] {
    border: 1.5px solid black !important;
}
.table-responsive tbody {
    vertical-align: middle !important;
}
.listing-button-tab-div button {
    color: rgba(0, 0, 0, 1);
}
.availability-div-text {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(76, 172, 62, 1);
    margin-bottom: 0px;
}
.availability-time-div {
    margin-bottom: 15px;
}
.availability-arrow-back {
    height: 18px;
    width: 20px;
    margin-right: 3px;
}
.availability-div-heading-para {
    margin-bottom: .5rem;
}
.navbuttondropdonwicon {
    width: 10px;
    height: 30px;
}
.dropdown-buttons-div div {
    margin-left: 10px;
}
.total-active-agents-div {
    background: rgba(254, 254, 253, 1);
    border-radius: 10px;
    padding: 7px 20px;
    margin-bottom: 20px;
}
.total-active-agents-div p {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.total-active-agents-div p span {
    text-align: right;
    margin-left: 25px;
}
.training-modal-each-radio-div .form-check-input, 
.listing-checkbox-td .form-check-input[type=checkbox],
.find-assign-each-agent-div .form-check-input,
.find-assign-each-agent-div .form-check-input[type=checkbox],
.training-modal-each-radio-div .form-check-input,
.training-modal-each-radio-div .form-check-input[type=radio]
.agent-training-body-row-td  .form-check-input,
.agent-training-body-row-td  .form-check-input[type=checkbox] {
    border: 0.7px solid rgba(0, 0, 0, 1) !important;
    border-color: rgba(0, 0, 0, 1) !important;
}
.listing-checkbox-td .form-check-input:checked,
.find-assign-each-agent-div .form-check-input:checked,
.agent-training-body-row-td  .form-check-input:checked,
.checked-div .form-check-input:checked,
.checked-div .form-check-input:checked[type=checkbox] {
    background-color: rgba(76, 172, 62, 1) !important;
    border: 1px solid rgba(76, 172, 62, 1) !important;
    border-color: rgba(76, 172, 62, 1) !important;
}
.training-modal-each-radio-div {
    display: grid;
    grid-template-columns: min-content auto;
}

.training-modal-each-radio-div .form-check-input:checked {
    background-color: rgba(76, 172, 62, 1) !important;
    border: 1px solid rgba(76, 172, 62, 1) !important;
    border-color: rgba(76, 172, 62, 1) !important;
}
.training-modal-each-radio-div .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: rgba(76, 172, 62, 1) !important;
}
.agent-attedance-uncheck-div .form-check-input,
.agent-attedance-uncheck-div .form-check-input[type=checkbox],
.checked-div .form-check-input,
.checked-div .form-check-input[type=checkbox] {
    background-color: rgba(217, 217, 217, 0.4) !important;
    border-radius: 2px !important;
    border: none !important;
}
.agent-attedance-uncheck-div .form-check-input:checked {
    background-color: #FE0101 !important;
    border: 1px solid #FE0101 !important;
    border-color: #FE0101 !important;
}
.agent-attedance-uncheck-div .form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url('./images/checkbox-close.svg') !important;
    background-size: 60% !important;
}   
.agent-attendance-button {
    background-color: transparent;
    float: right;
    border: none;
    padding: 0;
    color: rgba(76, 172, 62, 1);
    margin: 40px 0px 20px 0px;
}
.add-cohort-each-user-div .form-check-input:checked,
.add-cohort-each-user-div .form-check-input:checked[type=checkbox] {
    border: 2px solid rgba(76, 172, 62, 1) !important;
    background-color: rgba(76, 172, 62, 1) !important;
}
@media(max-width: 591px) {
    .agents-in-charge-grid-div {
        grid-template-columns: auto;
        gap: 30px;
    }
}
.agent-management-dropdown-button .each-navigation-grid-div {
    height: 20px !important;
    margin-bottom: 5px !important;
}